body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #000000;
}

#cabecalho .nav .nav-link.active {
    background-color: #f3dad5;
    color: #000000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-lancamentos .nav-link:hover {
    color: #f3dad5;
}

.navbar-toggler {
    background-color: #f3dad5;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-nos {
    background-color: #f3dad5;
}

.text-colored {
    color: #37393B;
}

.nav-lancamentos .nav-link.active {
    background-color: #f3dad5;
    color: #000000;
}
