body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #000000;
}

#cabecalho .nav .nav-link.active {
    background-color: #f3dad5;
    color: #000000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-lancamentos .nav-link:hover {
    color: #f3dad5;
}

.navbar-toggler {
    background-color: #f3dad5;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-nos {
    background-color: #f3dad5;
}

.text-colored {
    color: #37393B;
}

.nav-lancamentos .nav-link.active,
#fale-conosco button {
    background-color: #f3dad5;
    color: #000000;
}

.bi-instagram {
    background: linear-gradient(45deg, #405DE6, #833AB4, #E1306C, #F77737, #FFC837);
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Deixa o fundo visível */ 
}

.bi-whatsapp {
    color: #25D366; /* Cor oficial do WhatsApp */    
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}